/* 메인 */
*{
    margin: 0; padding: 0;
}
body{
    background-color: skyblue;
}
header{
    text-align: center;
    background-color: rgb(105, 165, 189);
}
.input{
    height: 70px;
    width: 100%;
    position: fixed; 
    bottom: 0;    
    background-color: gray;
}
#test{
    width: 90%;
    height: 55px;
    bottom: 0; 
    position: fixed; 
}
button{
    width: 7%;
    height: 60px;
    position: fixed; 
    bottom: 0;
    padding-top: 10px;
    right: 0;
}
  
  /* 채팅 영역 */
  #chat {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  
  /* 접속 알림 */
  .connect {
    width: 100%;
    margin: auto;
    border-bottom: black 1px solid;
    background-color: rgb(170, 255, 192);
  }
  
  /* 접속 종료 알림 */
  .disconnect {
    width: 100%;
    margin: auto;
    border-bottom: black 1px solid;
    background-color: indianred;
  }
  
  /* 내가 보낸 메시지 */
  .me {
    width: 100%;
    background-color: rgb(255, 249, 197);
    border-bottom: black 1px solid;
  }
  
  /* 상대방이 보낸 메시지 */
  .other {
    width: 100%;
    border-bottom: black 1px solid;
    background-color: white;
  }